/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    img{
        width: 12%;
        height: 12%;
    }
    .lista {
        display: flex;
        justify-content: space-evenly;
        gap: 15px;
        list-style: none;
        font-size: 10px;
    }
    nav{
        ul{
            li{
                a{
                    text-decoration: none;
                    color: rgb(205, 190, 138);
                }
            }
        }
    }
}
@media screen and (min-width: 600px){
    header{
        img{
            width: 14%;
            height: 14%;
        }
        .lista{
            font-size: 20px;
        }
    }
}
@media screen and (min-width: 1024px){
    header{
        img{
            width: 7%;
            height: 7%;
        }
    }
}