h1{
    margin-left: 5%;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.649);
}

.div1 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
    gap: 15px;
}

.gato1{
    height: 25vh;
    width: 95%;
    object-fit: cover;
}

.div2{
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
    gap: 15px;
    margin-bottom: 20px;
}
.gato2{
    width: 95%;
    height: 25vh;
    object-fit: cover;
}
h2{
    color: rgba(0, 0, 0, 0.649);
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}

p{
    font-size: small;
    margin: 10px;
}
.div-acerca-de {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.muchos-gatos{
    width: 40%;
    height: 40%;
}
.titulo-acerca-de{
    margin: 0;
}
.p-acerca-de{
    margin-left: 30%;
    margin-right: 30%;
}
.extraMain{
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 30%);
    row-gap: 10px;
    padding: 10px;
    align-content: center;
    .gris{
        display: none;
    }
    .naranja{
        display: none;
    }
    div{
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
.main-acerca-de{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        text-align: center;
    }
    .muchos-gatos{
        height: 30vh;
        width: 95%;
        object-fit: cover;
        margin: 10px;
        
    }
    .muchos-gatos1{
        height: 30vh;
        width: 95%;
        object-fit: cover;
        margin: 10px;
    }
    .gato-5{
        height: 30vh;
        width: 95%;
        object-fit: cover;
        margin: 10px;
    }

}
.main-servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        height: 30vh;
        width: 100%;
        object-fit: cover;
        margin: 10px;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}
.main-noticias{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    justify-items: center;
    h1{
        font-size: 30px;
    }
    .div-redes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

        .redes{
            width: 20%;
            height: 5vh;
            object-fit: cover;
            background-color: rgb(160, 188, 212);
        }
    }
    .div-noticias{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 10px;
        .card{
            margin: 5px;
            border: 1px solid;
            border-radius: 5px;
            text-align: center;
            background-color: rgb(160, 188, 212);
            .imagen-noticias{
                width: 100%;
                height: 20vh;
                object-fit: cover;
            }
        }
    }
}
.main-servicios{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    h2{
        font-size: 20px;
    }
    img{
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
    .form-servicios{
        width: 80%;
        align-items: flex-start;
        border: 1px solid;
        border-radius: 5px;
        padding: 15px;
        
    }
}
@media screen and (min-width: 600px){
    h1{
        font-size: 40px;
    }
    p{
        font-size: large;
        margin: 15px;
    }
    .div1{
        gap: 15px;
        margin: 20px;
    }
    .div2{
        gap: 15px;
        margin: 20px;
    }
    .gato1{
        width: 100%;
    }
    .gato2{
        width: 100%;
    }
    h2{
        font-size: 30px;
    }
    .extraMain{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 40%);
        column-gap: 10px;
        .muzzle{
            grid-column: span 2;
        }
    }
    .main-noticias{
        .div-noticias{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 10px;
            margin: 10px;
        }
    }
}
@media screen and (min-width: 1024px){
    main{
        .div1{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            column-gap: 10px;
            margin: 20px;
            margin-right: 40px;
            margin-left: 40px;
            .gato1{
                height: 35vh;
                width: 100%;
                object-fit: cover;
            }
            p{
                font-size: 25px;
            }
        }
        .div2{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            column-gap: 10px;
            margin: 20px;
            margin-right: 40px;
            margin-left: 40px;
            .gato2{
                height: 35vh;
                width: 100%;
                object-fit: cover;
            }
            p{
                font-size: 25px;
            }
        }
        h1{
            text-align: center;
        }
    }
    .extraMain{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 30%);
        .gris{
            display: block;
            grid-row: span 2;
        }
        .naranja{
            display: block;
        }
        .angora{
            grid-row: span 2;
        }
        .muzzle{
            grid-column: span 3;
        }
    }
    .main-acerca-de{
        display: grid;
        grid-template-columns: 1fr;
        .div-acerca-de1{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            margin: 10px;
            gap: 10px;
        }
        .div-acerca-de2{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            margin: 10px;
            gap: 10px;
        }
        .div-acerca-de3{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            margin: 10px;
            gap: 10px;
        }
    }
}