/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
}
header img {
  width: 12%;
  height: 12%;
}
header .lista {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  list-style: none;
  font-size: 10px;
}
header nav ul li a {
  text-decoration: none;
  color: rgb(205, 190, 138);
}

@media screen and (min-width: 600px) {
  header img {
    width: 14%;
    height: 14%;
  }
  header .lista {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  header img {
    width: 7%;
    height: 7%;
  }
}
h1 {
  margin-left: 5%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.649);
}

.div1 {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
  gap: 15px;
}

.gato1 {
  height: 25vh;
  width: 95%;
  object-fit: cover;
}

.div2 {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
  gap: 15px;
  margin-bottom: 20px;
}

.gato2 {
  width: 95%;
  height: 25vh;
  object-fit: cover;
}

h2 {
  color: rgba(0, 0, 0, 0.649);
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: small;
  margin: 10px;
}

.div-acerca-de {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.muchos-gatos {
  width: 40%;
  height: 40%;
}

.titulo-acerca-de {
  margin: 0;
}

.p-acerca-de {
  margin-left: 30%;
  margin-right: 30%;
}

.extraMain {
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 30%);
  row-gap: 10px;
  padding: 10px;
  align-content: center;
}
.extraMain .gris {
  display: none;
}
.extraMain .naranja {
  display: none;
}
.extraMain div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-acerca-de {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-acerca-de h3 {
  text-align: center;
}
.main-acerca-de .muchos-gatos {
  height: 30vh;
  width: 95%;
  object-fit: cover;
  margin: 10px;
}
.main-acerca-de .muchos-gatos1 {
  height: 30vh;
  width: 95%;
  object-fit: cover;
  margin: 10px;
}
.main-acerca-de .gato-5 {
  height: 30vh;
  width: 95%;
  object-fit: cover;
  margin: 10px;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 40px;
  }
  p {
    font-size: large;
    margin: 15px;
  }
  .div1 {
    gap: 15px;
    margin: 20px;
  }
  .div2 {
    gap: 15px;
    margin: 20px;
  }
  .gato1 {
    width: 100%;
  }
  .gato2 {
    width: 100%;
  }
  h2 {
    font-size: 30px;
  }
  .extraMain {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 40%);
    column-gap: 10px;
  }
  .extraMain .muzzle {
    grid-column: span 2;
  }
}
@media screen and (min-width: 1024px) {
  main .div1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
    margin: 20px;
    margin-right: 40px;
    margin-left: 40px;
  }
  main .div1 .gato1 {
    height: 35vh;
    width: 100%;
    object-fit: cover;
  }
  main .div1 p {
    font-size: 25px;
  }
  main .div2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
    margin: 20px;
    margin-right: 40px;
    margin-left: 40px;
  }
  main .div2 .gato2 {
    height: 35vh;
    width: 100%;
    object-fit: cover;
  }
  main .div2 p {
    font-size: 25px;
  }
  main h1 {
    text-align: center;
  }
  .extraMain {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 30%);
  }
  .extraMain .gris {
    display: block;
    grid-row: span 2;
  }
  .extraMain .naranja {
    display: block;
  }
  .extraMain .angora {
    grid-row: span 2;
  }
  .extraMain .muzzle {
    grid-column: span 3;
  }
}
footer {
  display: flex;
  justify-content: center;
}

footer p {
  font-size: small;
}

body {
  background-color: rgb(3, 194, 194);
}

/*# sourceMappingURL=main.css.map */
